.header-span-logo {
  font-size: 60px;
  font-family: Arial;
  color: rgba(51, 51, 51, 1);
  margin-left: 4%;
}
.header-span-location {
  font-size: 18px;
  font-family: Arial;
  color: rgba(153, 153, 153, 1);
  margin-left: 1rem;
}
.header-content-div {
  display: flex;
  align-items: center;
  width: 100%;
}
.header-content-margin-left {
  margin-left: 3%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.header-input-search {
  width: 900px !important;
  height: 60px !important;
  background: rgba(255, 255, 255, 1) !important;
  border: 1px solid rgba(241, 241, 241, 1) !important;
  opacity: 1 !important;
  border-radius: 30px !important;
}
.header-content-margin-left-input {
  margin-left: 7%;
 
}
.sousuo-img-header-input-search {
  position: absolute;
  margin-left: -72px;
  margin-top: 17px;
}
.header-content-margin-image-sousou {
  margin-left: 7%;
  display: flex;
  align-items: center;
  
}
.header-content-margin-register {
  font-size: 18px;
  color: rgba(102, 102, 102, 1);
  margin-left: 6rem;
}
.supermarket-name-button {
  width: 100px;
  height: 20px;
  background: rgba(245, 175, 25, 1);
  opacity: 1;
  border-radius: 12px;
  font-size: 12px;
  font-family: Arial;
  color: rgba(255, 255, 255, 1);
}
.display-div-justify-content {
  display: flex;
  justify-content: space-between;
}
.meta-money {
  font-size: 24px;
  font-family: Arial;
  font-weight: bold;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 5px;
}
.meta-money-product-name {
  font-size: 16px;
  font-family: Arial;
  color: rgba(51, 51, 51, 1);
  
}
.home-cursor-pointer {
  cursor: pointer;
}