.ant-layout-sider{
  height:100vh;
}
@media screen and (max-width: 1200px) {
  .ant-layout-sider{
    position: absolute;
    z-index: 9999;
    height: 100vh;
  }
}
.headerMain-bg{
  background: rgba(255,255,255,0.5) !important;
}
