.banner-card{
  width:618px;
  height:418px;
}
.swiper-slide{
  width:618px;
}
@media screen and (max-width: 1550px) {
  .banner-card{
    width:500px;
    height:360px;
  }
  .swiper-slide{
    width:500px !important;
  }
}
@media screen and (max-width: 600px) {
  .banner-card{
    width:350px;
    height:252px;
  }
  .swiper-slide{
    width:350px !important;
  }
}
