body {
  margin: 0;
  font-family: SF Pro Text, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
} /* 滚动条的内层滑轨背景颜色 */

::-webkit-scrollbar-track {
  background-color: transparent;
} /* 滚动条的外层滑轨背景颜色 */

::-webkit-scrollbar-thumb {
  background-color: #FF8900;
  border-radius: 5px;
} /* 滚动条的内层滑块颜色 */

::-webkit-scrollbar-button {
  background-color: transparent;
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.ant-form-item-children-icon{
  margin-right: 20px;
}
.ant-input-affix-wrapper .ant-input-suffix{
  right:45px !important;
}
.anticon-check-circle {
  svg {
    height: 18px;
    width: 18px;
    background: url(./assets/icon_check.svg) no-repeat center;
    background-size: 100%;
    path {
      display: none !important;
    }
  }
}

.anticon-close-circle {
  svg {
    height: 18px;
    width: 18px;
    background: url(./assets/icon_close.svg) no-repeat center;
    background-size: 100%;
    path {
      display: none !important;
    }
  }
}
.ant-message-notice-content{
  background:rgba(255,255,255,0.9) !important;
}
.has-error {
  .ant-select-selection {
    background: #f3ada3 !important;
    color: #D81E06 !important;

    .ant-select-selection__placeholder {
      color: #D81E06 !important;
    }
  }
  .ant-form-explain{
    margin-top: 10px;
  }
  .ant-input {
    background: #f3ada3 !important;
    color: #D81E06 !important;
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #D81E06 !important;
  }

  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #D81E06 !important;
    font-size: 20px;
  }

  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #D81E06 !important;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #D81E06 !important;
  }
}

