.product-img {
  width: 100%;
}
.owner-info-product-name {
  font-size: 24px;
  font-family: Arial;
  font-weight: bold;

  color: rgba(51, 51, 51, 1);
  opacity: 1;
}
.owner-info-product-money {
  font-size: 48px;
  font-family: Arial;
  font-weight: bold;
  color: rgba(51, 51, 51, 1);
  opacity: 1;
}
.owner-info-product-freight-money {
  font-size: 14px;
  font-family: Arial;
  color: rgba(153, 153, 153, 1);
  opacity: 1;
  margin-left: 10%;
}
.owner-info-product-div {
  display: flex;
  align-items: center;
  margin-top: 26px;
  margin-bottom: 20px;
}
.owner-info-product-div-describe {
  width: 520px;
  height: 156px;
  font-size: 14px;
  font-family: Arial;
  color: rgba(51, 51, 51, 1);
  opacity: 1;
}
.owner-info-product-please-choose {
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  color: rgba(51, 51, 51, 1);
  opacity: 1;
  margin-top: 5px;
  margin-bottom: 10px;
}
.weight-tag-div {
  width: 550px;
}
.owner-info-product-count {
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  color: rgba(51, 51, 51, 1);
  opacity: 1;
  margin-top: 20px;
}
.owner-info-product-percent {
  font-size: 14px;
  font-family: Arial;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  opacity: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.owner-info-product-cart {
  width: 250px;
  height: 50px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(241, 241, 241, 1);
  opacity: 1;
  border-radius: 25px;
  font-size: 16px;
  font-family: Arial;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}
.owner-info-product-buy {
  width: 250px;
  height: 50px;
  background: rgba(245, 175, 25, 1);
  opacity: 1;
  border-radius: 25px;
  font-size: 16px;
  font-family: Arial;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  margin-left: 20px;
}
.product-tabs {
  width: 100%;
  .ant-tabs-nav {
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    opacity: 1;
  }
  .ant-tabs-ink-bar-animated {
    display: none !important;
  }
  .ant-tabs-bar {
    border: 0px !important;
  }
}
